/* Theme Parameter Toolbox: https://sdk.openui5.org/test-resources/sap/m/demokit/theming/webapp/index.html */

.myLibPrefixGreetingCard {
	display: inline-block;
	color: @sapUiText;
	background-color: @sapUiTileBackground;
	border: 0.0625rem solid @sapUiContentForegroundBorderColor;
	border-radius: 0.5rem;
	box-shadow: @sapUiShadowLevel1;
	padding: 1rem 2rem;
	margin: 1rem;
	text-align: center;
	cursor: pointer;
}

.myLibPrefixGreetingCardHighlight {
	background-color: @sapUiSuccessBG;
}

.myLibPrefixGreetingCardTitle {
	font-size: 0.875rem;
	color: @sapUiContentLabelColor;
	margin-bottom: 0.25rem;
}

.myLibPrefixGreetingCardText {
	font-size: 1.25rem;
	font-weight: bold;
}
